---
import Link from '../components/Link.astro'
---
<div class="pt-8">
    <div class="p-8 bg-slate-200 flex flex-row justify-between">
        <div id="logo" class="">
            <a class="font-bold text-orange-700" href="#link1">Københavnerbilleder</a>
            </div>
<nav><ul class="flex md:flex-row flex-col gap-4">
    <!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
    <li class=""><Link href="#kapitler" >Kapitler</Link></li>
    <li class=""><Link href="#anmeldelser" >Anmeldelser</Link></li>
    <li class=""><Link href="#galleri" >Galleri</Link></li>
    <li class=""><Link href="#form" >Køb bog</Link></li>
    </ul></nav>
</div>
</div>
</div>
  